body{
    background-color: #69656236;
}

#wrapper{
    max-width: 1200px;
    border: 1px gray solid;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    background-color: #6362614b;
}
#header,#nav,#content,#sidebar,#footer{
    border: 1px red solid;
    box-sizing: border-box;
    padding: 10px;

}

i{
    border: 1px gray solid;
}
#nav{
    padding: 0px;
}
#nav ul{
    overflow: hidden;
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: rgb(65, 61, 61);
}

#nav li{
    float: left;
    text-align: center;
}

#nav a::first-letter{
    color: gold;
    font-family: monospace;
    font-size: 20px;
}

#nav a:hover{
    background: gray;
}

#nav a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 0.7em 2em;
    font-weight: bold;
}

#content{
    width: 70%;
    float: left;
}
#sidebar{
    width: 30%;
    float: right;
}
/*lebegő elemek float után clear*/
.clear{
    clear: both;
}
img{
    width: 100%;
}
#footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
/*feltétel*/
@media screen and (max-width: 900px){
    #wrapper{
        max-width: 600px;
    }
    
    #content,#sidebar{
        float:none;
        width: 100%;
    }
}
